<div>
  <h3><%= @customer.full_name %></h3>
  <h3>〒<%= @customer.postal_code %></h3>
  <h3><%= @customer.address %></h3>
  <h3><%= @customer.telephone_number %></h3>
  <h3><%= @customer.email %></h3>
</div>
